html{
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../assets/images/iot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

// Mobile Responsive
@media (max-width: 810px) {
  .container {
    .grid-layout {
      grid-template-columns: 1fr;
    }
  
  }
}
@media (max-width: 426px) {
  .container {
    .grid-layout {
      grid-template-columns: 2fr;
    }
    
    .header h1 {
      font-size: 1.5rem;
    }
  }
}